@import "variables.scss";
@import "mixins.scss";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

nav {
  display: block;
}

.content {
  @include secondary-font;
  min-width: 10em;
  position: relative;
  display: block;
  margin: 0 1em 5em 1em;
  overflow: hidden;
}

.sub-content {
  position: relative;
  top: -1em;
}

.title {
  @include primary-font;
  position: fixed;
  z-index: 6;
  & span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px;
  }
}

.subtitle h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.main-img {
  height: 100%;
  width: 100%;
  @include brightness(1.5);
  @include parallax;

  &-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    left: -1.3em;
    width: 105vw;
    height: 23em;
    z-index: -1;
  }

  // changes the main image depending on what page the user is on

  &-Home {
    background-image: url("../../assets/img/mobile_home.jpg");
  }
  &-About {
    background-image: url("../../assets/img/mobile_about.jpg");
  }
  &-Team {
    background-image: url("../../assets/img/mobile_team.jpg");
  }
  &-Testimonials {
    background-image: url("../../assets/img/mobile_testimonials.jpg");
  }
  &-Gallery {
    background-image: url("../../assets/img/mobile_gallery.jpg");
  }
  &-Contact {
    background-image: url("../../assets/img/mobile_contact.jpg");
  }
}

@include tablet {
  .main-img {
    top: 5.5em;
  }
  .subtitle h2 {
    margin-top: 1em;
    margin-bottom: 0;
  }
}

@include desktop {
  .title {
    font-size: 3.7em;
    color: $white;
    margin-left: -0.5em !important;
    z-index: 0;
    background-color: $secondary-color;
    width: 100vw;
    position: absolute;
    top: -0.7em;
    padding: 0.2em 1.5em;
  }

  .subtitle h2 {
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  .content {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em;
  }

  .sub-content {
    position: relative;
    top: -3em;
  }

  .main-img {
    top: -1em;
    &-wrapper {
      height: 20em;
    }

    // re-sizes the page image to a desktop version

    &-Home {
      background-image: url("../../assets/img/home.jpg");
    }
    &-About {
      background-image: url("../../assets/img/about.jpg");
    }
    &-Team {
      background-image: url("../../assets/img/team.jpg");
    }
    &-Testimonials {
      background-image: url("../../assets/img/testimonials.jpg");
    }
    &-Gallery {
      background-image: url("../../assets/img/gallery.jpg");
    }
    &-Contact {
      background-image: url("../../assets/img/contact.jpg");
    }
  }
}
