@import "variables.scss";
@import "mixins.scss";

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}
