@import "variables.scss";
@import "mixins.scss";

// basic classes that can be added to an element to quickly give them that styling

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  margin: 1em 0.2em;
  overflow: hidden;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

// make a link blend in with the rest of the text
.regular-link {
  color: $grey;
  &:hover {
    color: $black;
  }
}
