@import "variables.scss";
@import "mixins.scss";

.testimonial {
  background-color: $transparent;
  height: 10em;
  border-radius: 5%;
  &__left {
    & .testimonial {
      border-top-left-radius: unset;
    }
  }
  &__right {
    text-align: right;
    & .testimonial {
      border-top-right-radius: unset;
    }
  }
}

.testimonial__author {
  margin-bottom: -0.5em;
  color: $secondary-font-color;
}

.testimonial__content {
  padding: 1em;
  color: $secondary-font-color;
  opacity: 1;
}

.testimonial__row + .testimonial__row {
  margin: 2.5em 0;
}
