@import "variables.scss";
@import "mixins.scss";

// makes all h1 tags the primary font, and all h2 the secondary font etc

h1 {
  @include primary-font;
}

h2 {
  @include secondary-font;
}

h3 {
  font-size: 1.2em;
  color: $secondary-color;
  margin: 0.3em 0;
}
