// Colours
$blue: #1533ae;
$yellow: #ffb300;
$white: #ffffff;
$black: #333;
$grey: #656565;
$transparent: rgba(0, 0, 0, 0.1);
$shadow: 0 0.5px 5px hsla(0, 0%, 0%, 0.69);

$primary-color: $blue;
$secondary-color: $yellow;
$primary-font-color: $white;
$secondary-font-color: $grey;

// Fonts
$serif: "Arvo", serif, "Lora", "Playfair Display", Georgia, serif;
$sans-serif: "Lato", "Open Sans", sans-serif, "Roboto", "Source Sans Pro",
  "Open Sans", Arial, sans-serif;
$monospace: "Inconsolata", monospace;

$primary-font: $serif;
$secondary-font: $sans-serif;

// Spacing
//$mobile-space: 10px;
//$desktop-space: 35px;

$x-small: 0.5em;
$small: 1em;
$medium: 2em;
$large: 3em;
$x-large: 4em;

$em: 16;

// Breakpoints
//$breakpoint-small: 1px;
$breakpoint-medium: 515px;
$breakpoint-large: 900px;
//used in display mixins
