<meta charset="utf-8" />
<title>Eastbourne Youth Field Gun - {{ page.title }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />
<meta id="theme-color" name="theme-color" content="#EF8766" />
<link
  href="https://fonts.googleapis.com/css?family=Arvo|Open+Sans"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link
  href="https://api.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css"
  rel="stylesheet"
/>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
<link
  href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css"
  rel="stylesheet"
/>
<link rel="stylesheet" href="../assets/css/variables.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/mixins.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/general.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/menu.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/rules.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/grid.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/index.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/about.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/team.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/gallery.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/testimonials.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/contact.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/footer.css" type="text/css" />
<link rel="stylesheet" href="../assets/css/typography.css" type="text/css" />
<script src="../assets/js/menu.js"></script>
<script src="../assets/js/gallery.js"></script>
<link
  rel="shortcut icon"
  href="../assets/img/favicon.ico"
  type="image/x-icon"
/>
