footer {
  height: 2.5em;
  left: 0;
  background-color: #1533ae;
  color: #ffffff;
  width: 100%;
  display: block;
  align-self: flex-end;
  position: fixed;
  bottom: -0.5em;
  padding: 0.5em;
  text-align: left; }
  footer a:link {
    color: #ffffff; }
  footer a:visited {
    color: #ffffff; }
  footer a:active {
    color: #ffffff; }
  footer a:hover {
    color: rgba(255, 255, 255, 0.6); }

@media (min-width: 515px) {
  footer {
    padding-left: 3em; } }
