html {
  box-sizing: border-box;
  overflow-x: hidden; }

nav {
  display: block; }

.content {
  font-family: "Lato", "Open Sans", sans-serif, "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
  color: #656565;
  font-size: 1.3em;
  min-width: 10em;
  position: relative;
  display: block;
  margin: 0 1em 5em 1em;
  overflow: hidden; }

.sub-content {
  position: relative;
  top: -1em; }

.title {
  font-family: "Arvo", serif, "Lora", "Playfair Display", Georgia, serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em;
  position: fixed;
  z-index: 6; }
  .title span {
    text-transform: none;
    opacity: 0.5;
    font-weight: 300;
    font-size: 12px; }

.subtitle h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.main-img {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .main-img-wrapper {
    display: block;
    position: relative;
    overflow: hidden;
    left: -1.3em;
    width: 105vw;
    height: 23em;
    z-index: -1; }
  .main-img-Home {
    background-image: url("../../assets/img/mobile_home.jpg"); }
  .main-img-About {
    background-image: url("../../assets/img/mobile_about.jpg"); }
  .main-img-Team {
    background-image: url("../../assets/img/mobile_team.jpg"); }
  .main-img-Testimonials {
    background-image: url("../../assets/img/mobile_testimonials.jpg"); }
  .main-img-Gallery {
    background-image: url("../../assets/img/mobile_gallery.jpg"); }
  .main-img-Contact {
    background-image: url("../../assets/img/mobile_contact.jpg"); }

@media (min-width: 515px) {
  .main-img {
    top: 5.5em; }
  .subtitle h2 {
    margin-top: 1em;
    margin-bottom: 0; } }

@media (min-width: 900px) {
  .title {
    font-size: 3.7em;
    color: #ffffff;
    margin-left: -0.5em !important;
    z-index: 0;
    background-color: #ffb300;
    width: 100vw;
    position: absolute;
    top: -0.7em;
    padding: 0.2em 1.5em; }
  .subtitle h2 {
    font-size: 2em;
    margin-bottom: 1.5em; }
  .content {
    text-align: center;
    margin-top: -1em;
    margin-bottom: 1em; }
  .sub-content {
    position: relative;
    top: -3em; }
  .main-img {
    top: -1em; }
    .main-img-wrapper {
      height: 20em; }
    .main-img-Home {
      background-image: url("../../assets/img/home.jpg"); }
    .main-img-About {
      background-image: url("../../assets/img/about.jpg"); }
    .main-img-Team {
      background-image: url("../../assets/img/team.jpg"); }
    .main-img-Testimonials {
      background-image: url("../../assets/img/testimonials.jpg"); }
    .main-img-Gallery {
      background-image: url("../../assets/img/gallery.jpg"); }
    .main-img-Contact {
      background-image: url("../../assets/img/contact.jpg"); } }
