.button-wrapper {
  text-align: center; }

.button {
  text-align: center;
  display: inline-block;
  border: none;
  cursor: pointer;
  height: 1.8em;
  width: 8em;
  padding: 1em;
  font-size: 0.7em;
  font-weight: bold;
  color: #ffffff;
  background-color: #ffb300;
  border-radius: 10px;
  transition: all 0.5s; }
  .button:hover span {
    padding-right: 1em; }
  .button:hover span:after {
    opacity: 1;
    right: 0; }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
    .button span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -2em;
      transition: 0.5s; }
