.flex {
  display: flex; }

.column {
  flex-direction: column; }

.row {
  flex-direction: row;
  margin: 1em 0.2em;
  overflow: hidden; }

.hidden {
  display: none; }

.center {
  text-align: center; }

.regular-link {
  color: #656565; }
  .regular-link:hover {
    color: #333; }
