h1 {
  font-family: "Arvo", serif, "Lora", "Playfair Display", Georgia, serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 2em; }

h2 {
  font-family: "Open Sans", sans-serif, "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
  color: #656565;
  font-size: 1.3em; }

h3 {
  font-size: 1.2em;
  color: #ffb300;
  margin: 0.3em 0; }
